/* CSS */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.product-card:hover {
  transform: scale(1.05);
}

.loaded {
  opacity: 1 !important;
}